<nav class="navbar navbar-brand"  style="border: 2px ridge var(--brew)">
  <div class="container-fluid">
    <a style="color: var(--brew);" href="/">
      <img 
      id="logoimg rounded-circle" 
      src="/images/Beerstack.png" 
      alt="SoCal Brew Logo" 
      width="150"
      height="150" 
      class="rounded-circle navbar-brand ">
      </img>
    </a>
    <h1 class="bstitleBG";>
      <div style="color: var(--brew);">Beerstack</div>
    </h1>
    <ul class="nav justify-content-end">
      <a style="color: var(--brew);" href="/">
        <img 
        id="logoimg rounded-circle" 
        src="/images/Beerstack.png" 
        alt="SoCal Brew Logo" 
        width="150"
        height="150" 
        class="rounded-circle navbar-brand ">
        </img>
    </a>
      <li class="nav-item">
        <button class="nav-itemmain">
          <a class="logsignBtn"
          href='/login'>Log In
          </a>
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-itemmain">
          <a class="logsignBtn"
          href='/login'>Sign Up
          </a>
        </button>
      </li>
       </a>
  </div>
</nav>
