  <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
    <span class="fa fa-file"></span>
        <h2 class="pt-3">Resources</h2>
            <p class="lead">
            HTML, CSS, JavaScript, JQuery, Bootstrap, GitHub, Bootcamp
            Instructional Team
            </p>
            {{{body}}}
</div>