<article id="searchBrew" class="container-fluid">
  <card class="border-top d-flex justify-content-center container-fluid">
    <div class="card w-100 container-fluid" id="searchBrewStyle">
      <!-- inside card -->
      <div class="mt-3 rounded">
        <div class="text-center">
          <h2>BEER LIST</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Beer I Like </button>
        </div>
        <div class="col">
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Filter by:</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#home">Name</a>
              <a href="#about">Likes</a>
            </div>
          </div>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Beer Name</th>
            <th scope="col">Total Likes</th>
            <th scope="col">Add to your Cooler</th>
          </tr>
        </thead>
        <tbody>
          {{#each beers as |beers| }}
          <tr>
            <td>{{ name }}</td>
            <td>{{ likes }}</td>
            <td><button>Toggle Button Here!</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
        
      </div>
    </div>
  </card>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Favorite Brew</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form class='newBeer-form' id='newBeer-form'>
            <input id='beer-input-add' for='beer-input-add' type='text' name='txt' placeholder='Enter Beer Here'
              required='' />
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
              <button type="submit" class="btn btn-primary" onclick="newBeerHandler()">Add It</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</article>
<script src='/js/new-beer-post.js'></script>
