<div style="background-color: var(--offbg); height: 50px; margin-bottom: 50px; margin-top: 20px; margin-right: 50px" ;>
  <h1 class="beerstackTitle" style="display: flex; justify-content:center; color: var(--brew);">
    Welcome to your Dashboard
  </h1>
</div>
<div class="container text-center">
  <div class="row g-2">
    <div class="col-xs-6">


      {{!-- <form class="new-post-form">
        <div>
          <label for="post-title" style="color: var(--brew);">Title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
          <label for="post-text" style="color: var(--brew);">Content</label>
          <textarea id="post-text" name="post-text"></textarea>
        </div>
        <button type="submit" class="btn" style="color: var(--brew);">🍺 Beer Post </button>
      </form> --}}

      <form class="new-post-form">
        <div class="p-3 bg-dark" style="border: 2px ridge var(--brew);">
          <div class="mb-3">
            <label for="post-title" style="color:var(--brew)">Post Title:</label>
            <input type="text" id="post-title" name="post-title" class="form-control" placeholder="Beerstack Post Title"
              style="background-color: var(--brew); border: 2px ridge var(--brew)">
          </div>
          <div class="mb-3">
            <label for="post-text" style="color:var(--brew)">Your Beer Post:</label>
            <textarea id="post-text" name="post-text" class="form-control"
              style="background-color: var(--brew); border: 2px ridge var(--brew);" rows="8"
              placeholder="Add your thoughts to BEERSTACK..."></textarea>
          </div>
          <button type="submit" class="btn">🍺 Add to Beerstack🍺</button>
      </form>

    </div>
  </div>
  <div class="col-6">
    <div>
      <div class="p-3 bg-dark" style="border: 2px ridge var(--brew);">
        <table class="table">
          <div>
            <h2 style="color: var(--brew);">Your Beerstack Posts</h2>
            <thead class="table-dark">
              <tr style="border: 1px solid var(--brew);">
                <th scope="col" style="border: 1px solid var(--brew);">Date</th>
                <th scope="col" style="border: 1px solid var(--brew);">Title</th>
              </tr>
            </thead>
            <tbody>
              {{#each userPosts}}
              <tr>
                <td style="color: white; border: 1px solid var(--brew);">{{ title }}</td>
                <td style="color: white; border: 1px solid var(--brew);">{{ post_text }}</td>
              </tr>
              {{/each}}

            </tbody>
          </div>
        </table>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div>
      <div class="p-3 bg-dark" style="border: 2px ridge var(--brew);">
        <table class="table">
          <div>
            <h2 style="color: var(--brew);">Your Cooler</h2>
            <thead class="table-dark">
              <tr style="border: 1px solid var(--brew);">
                <th scope="col" style="border: 1px solid var(--brew);">Beer Name</th>
                <th scope="col" style="border: 1px solid var(--brew);">Total Likes</th>
              </tr>
            </thead>
            <tbody>
              {{#each coolerData}}
              <tr id="beerLine">
                <td style="color: white; border: 1px solid var(--brew);"><Button id="removeFromCooler">X</Button> {{
                  name }}</td>
                <td style="color: white; border: 1px solid var(--brew);">{{ likes }}</td>
              </tr>
              {{/each}}

            </tbody>
          </div>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-6" style="margin-top: 30px;">
    <div class="p-3 bg-dark" style="border: 2px ridge var(--brew);">
      <div>
        <div class="mb-3" style="border: 1px ridge var(--brew); padding: 25px">
          <label for="exampleFormControlInput1" class="fs-5 form-label"
            style="color:var(--brew); text-decoration:underline">So-Cal Brewery's</label>
          <p class="fs-1" style="color: var(--brew); text-decoration:underline">Bucket List</p>
          <p class="fs-6" style="color: var(--brew);">New Bucket List feature from So-Cal Brewery coming soon!</p>

        </div>
      </div>
    </div>
  </div>
</div>
<script src='/js/new.js'></script>