{{!--

<body>
  <div class="border row m-2 p-2 justify-content-center">
    <div id="newpost" class="col-sm-4 p-2">
      <h1 class="border rounded p-2">
        <a class="border rounded p-1" href="/dashboard" style="text-decoration: none;
          color: var(--brew);"></a>
      </h1>
      <p>----- dashboard {{ login_status }} --------</p>
      <div>{{> new-post}}</div>
    </div> --}}
    <div id="newpost" class="col-sm-4 border">
      <h2 class="border rounded p-2" style="color: var(--brew);">New Beer Post</h2>

      <form class="new-post-form">
        <div>
          <label for="post-title" style="color: var(--brew);">Title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
          <label for="post-text" style="color: var(--brew);">Content</label>
          <textarea id="post-text" name="post-text"></textarea>
        </div>
        <button type="submit" class="btn" style="color: var(--brew);">🍺 Beer Post </button>
      </form>
    </div>
    {{#if posts.length}}
    <section>
      <h2>Your Posts</h2>
      <ol>
        {{#each posts as |post|}}
        <li>
          {{> post-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        </li>
        {{/each}}
      </ol>
    </section>
    {{/if}}


    <div id="newpost" class="col-sm-4 border">
      <h1 class="border rounded p-2" style="color: var(--brew);">
        Your Posts
      </h1>
      {{#each users as |user| }}
      <p style="color: var(--brew);">
        {{ first_name }}
      </p>
      {{/each}}

    </div>
    <div id="newpost" class="col-sm-4 border">
      <h1 class="border rounded p-2" style="color: var(--brew);">
        Your Cooler!
      </h1>
      <p>data goes here</p>
    </div>
  </div>
</body>

<script src='/js/new.js'></script>
<script src="/js/edit-post.js"></script>
<script src="/js/delete-post"></script>