{{> nav-bar}}
<head>
  <link rel='stylesheet' href='css/login.css' />
</head>

<div class='container' id='logincont'>
  <article id='searchBrew'>
    <card class='col-sm-12 d-flex justify-content-center'>
      <div class='col-md-10' id='searchBrewStyle'>
        <!-- inside card -->
        <div
          class='mt-3 row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative'
        >
          <div class='card'>
            <div class='card-header'>
              <h2 class='text-center'>Login</h2>
            </div>
            <form class='form login-form'>
              <div class='form-group'>
                <label for='email-login'>Username</label>
                <input class='form-input' type='text' id='email-login' />
              </div>
              <div class='form-group'>
                <label for='password-login'>Password</label>
                <input class='form-input' type='password' id='password-login' />
              </div>
              <div class='form-group' id='signup-login'>
                <button class='btn btn-primary' type='submit'>Brew Me</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </card>
  </article>

  <article id='searchBrew'>
    <card class='col-sm-12 d-flex justify-content-center'>
      <div class='col-md-10' id='searchBrewStyle'>
        <!-- inside card -->
        <div
          class='mt-3 row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative'
        >
          <div class='card'>
            <div class='card-header'>
              <h2 class='text-center'>Sign Up</h2>
            </div>
            <div id='signup' role='tabpanel'>
              <form class='form login-form'>
                <div class='form-group'>
                  <label for='email-login'>Username</label>
                  <input class='form-input' type='text' id='email-login' />
                </div>
                <div class='form-group'>
                  <label for='password-login'>Email</label>
                  <input
                    class='form-input'
                    type='password'
                    id='password-login'
                  />
                </div>
                <div class='form-group'>
                  <label for='password-login'>Password</label>
                  <input
                    class='form-input'
                    type='password'
                    id='password-login'
                  />
                </div>
                <div class='form-group'>
                  <label for='password-login'>Zipcode</label>
                  <input
                    class='form-input'
                    type='password'
                    id='password-login'
                  />
                </div>
                <div class='form-group' id='signup-login'>
                  <button class='btn btn-primary' type='submit'>Brew Up</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </card>
  </article>
</div>

<script src='/js/signup.js'></script>
<script src='/js/login.js'></script>
<script src='/js.logout.js'></script>