<link rel='stylesheet' href='css/login.css' />

<div class='login-body'>
  <div class='main'>
    <input type='checkbox' id='chk' aria-hidden='true' />

    <div class='signup'>
      <form class='signup-form'>
        <label for='chk' aria-hidden='true'>Sign up</label>
        <input
          id='first-input-signup'
          for='first-input-signup'
          type='text'
          name='txt'
          placeholder='First Name'
          required=''
        />
        <input
          id='last-input-signup'
          for='last-input-signup'
          type='text'
          name='txt'
          placeholder='Last Name'
          required=''
        />
        <input
          id='last-input-signup'
          for='email-input-signup'
          type='email'
          name='email'
          placeholder='Email'
          required=''
        />
        <input
          id='password-input-signup'
          for='password-input-signup'
          type='password'
          name='pswd'
          placeholder='Password'
          required=''
        />
        <button class="login-button">Sign up</button>
      </form>
    </div>

    <div class='login' id='logincont'>
      <form class='form login-form'>
        <label for='chk' aria-hidden='true'>Login</label>
        <input
          class='form login-form'
          type='email'
          name='email'
          placeholder='Email'
          required=''
          id='email-login'
        />
        <input
          type='password'
          name='pswd'
          placeholder='Password'
          required=''
          id='password-login'
        />
        <button class="login-button">Login</button>
      </form>
    </div>
  </div>
</div>
<script src='/js/login.js'></script>
<script src='/js/logout.js'></script>