<article id='searchBrew'>
    <card class='col-sm-12 d-flex justify-content-center'>
      <div class='col-md-10' id='searchBrewStyle'>
        <!-- inside card -->
        <div
          class='mt-3 row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative'
        >
          <div class='card'>
            <div class='card-header'>
              <h2 class='text-center'>Sign Up</h2>
            </div>
            <div id='signup' role='tabpanel'>
              <form class='signup-form'>
                <div class='form-group'>
                  <label for='first-input-signup'>First Name</label>
                  <input class='form-input' type='text' id='first-input-signup' />
                </div>
                <div class='form-group'>
                  <label for='last-input-signup'>Last Name</label>
                  <input
                    class='form-input'
                    type='text'
                    id='last-input-signup'
                  />
                </div>
                <div class='form-group'>
                  <label for='email-input-signup'>E-Mail</label>
                  <input
                    class='form-input'
                    type='text'
                    id='email-input-signup'
                  />
                </div>
                <div class='form-group'>
                  <label for='password-input-signup'>Password</label>
                  <input
                    class='form-input'
                    type='text'
                    id='password-input-signup'
                  />
                </div>
                <div class='form-group ' id='signup-login'>
                  <button class='btn btn-primary' type='submit'>Brew Up</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </card>
  </article>
</div>

<script src='/js/signup.js'></script>