  <div class="column beerstackTitle" style="display: flex; justify-content:center; color:var(--brew);">
  <div class="row" style="display:flex; text-align:center"> 
    <h5 style="font-size: 85px; color:var(--brew); text-decoration:none;">So-Cal Brew Hopper</h5> 
    <h2> ACCESS COMING SOON!</h2>
    <p class="fs-8">BrewStack and So-Cal Brew Hopper create the ultimate Brew Crew experience. At So-Cal Brew Hopper, you can locate a brewery near you, create your own bucketlist, and more!</p>
  </div>
