   <body class="bg-dark d-flex flex-column">
  <nav id="navBarid" class="navbar bg-dark fixed-top" style="background-color: #0000">
    <!-- left side nav bar w/ logo and title -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img id="logoimg rounded-circle" src="/images/So-CAL Logo.png" alt="SoCal Brew Logo" width="150"
          height="150" class="d-inline-block align-text-center rounded-circle" />So-Cal Brew Hopper

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </a>
      <!-- bucket list side opened -->
      <aside class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <!-- side bucketlist header -->
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fs-3" id="offcanvasNavbarLabel">
          Brewery Bucket List
        </h5>
        <button type="button" id="bucketClose" class="btn-close" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <!-- side bucket list body// Table for bucketlist -->
      <div class="container card col-sm-12 bg-dark">
        <img src="images/So-CAL Logo.png" class="card-img-top rounded-circle mt-3 mb-3"
          alt="SoCal Brew logo" />
  {{#if logged_in}}
        <div class="bucketContainer card-body rounded">
          <h5 class="card-title text-center">Your Bucketlist</h5>
          <p class="card-text"></p>
          <ol class="bucketStyle list-group list-group-flush" id="brew-list" style="overflow: auto; max-height: 40vh">
          </ol>
        </div>
      </div>
    </aside>
      {{!-- {{else}}
      <a href="/login">login</a> --}}
      {{/if}}
    </div>
  </nav>

    <div id="carousel">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button id="carouselBtn" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
            class="active" aria-current="true" aria-label="Slide 1"></button>
          <button id="carouselBtn" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button id="carouselBtn" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#" target="_blank">
              <img id="carouselimg1" src="" style="height: 500px; object-fit: cover" class="d-block w-100"
                alt="brewery image with name and address" />
              <div class="carousel-caption d-md-block" style="
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 0.5em;
                  ">
                <h5 id="carimg1caption"></h5>
                <p id="car1address"></p>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="#" target="_blank">
              <img id="carouselimg2" src="" style="height: 500px; object-fit: cover" class="d-block w-100"
                alt="brewery image with name and address" />
              <div class="carousel-caption d-md-block" style="
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 0.5em;
                  ">
                <h5 id="carimg2caption"></h5>
                <p id="car2address"></p>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="#" target="_blank">
              <img id="carouselimg3" style="height: 500px; object-fit: cover" class="d-block w-100"
                alt="brewery image with name and address" />
              <div class="carousel-caption d-md-block" style="
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 0.5em;
                  ">
                <h5 id="carimg3caption"></h5>
                <p id="car3address"></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Cards -->
    <article id="searchBrew">
      <card class="border-top col-sm-12 d-flex justify-content-center">
        <div class="col-md-10" id="searchBrewStyle">
          <!-- inside card -->
          <div class="mt-3 row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong id="nearYou" class="d-flex justify-content-center mb-2">Brew Near You</strong>
              <h3 class="d-flex justify-content-center mb-0"></h3>
              <div id="searchinfo" class="d-flex justify-content-center mb-1 text-muted"></div>
              <p id="searchinfo"
                class="d-flex justify-content-center card-text mb-auto text-muted align-items-center text-center">
                Find a destinations with the click of a button!<br />(Default
                location set to "San Diego")
              </p>
              <!-- Search Bar   -->
              <form class="d-flex justify-content-center mt-3" role="search">
                <input id="usrSearch" class="form-control me-2 text-center" type="search" style="width: 50%"
                  placeholder="Name of Brewery (Optional)" aria-label="Search" />
                <input id="usrLocation" class="form-control me-2 text-center" type="search" style="width: 50%"
                  placeholder="City/Zipcode" aria-label="Search" />
                <button id="searchBrewbtn" class="btn btn-outline-light text-center justify-content-center"
                  onclick="searchBrewery()" type="button">
                  Brew Me
                </button>
              </form>
            </div>
          </div>
        </div>
      </card>
    </article>

    <table id="tableBrew" class="table d-none" style="background-color: #000; color: #fff; margin-bottom: 0">
      <thead>
        <tr>
          <th scope="col">Brewery Name</th>
          <th scope="col">Rating</th>
          <th scope="col">Price</th>
          <th scope="col">Phone Number</th>
          <th scope="col">URL</th>
          <th scope="col">Add To Bucket List</th>
        </tr>
      </thead>
      <tbody id="brew-table-body"></tbody>
    </table>

    <article style="background-color: #000; color: #fff; padding-top: 16px">
      <div class="container d-flex flex-column align-items-center pb-4" style="
            border: double var(--brew) 5px;
            border-radius: 35px;
            padding-top: 16px;
            width: 60%;
          ">
        <h4 class="d-flex flex-column align-items-center text-center"
          style="border-bottom: 1px solid var(--brew); padding: 5px">
          Decided to stay home? Why not try the recipe below!?
        </h4>
        <h4 class="d-flex flex-column align-items-center pt-4" style="
              text-decoration: underline var(--brew);
              color: var(--offwhite);
            ">
          Cocktail Recipe of the Day
        </h4>
        <section class="d-flex flex-column align-items-center" id="dailyRecipe"></section>
        <button class="anotherBtn btn btn-outline-light text-center justify-content-center mt-3"
          onclick="getCocktailRecipe()">
          Try another?
        </button>
      </div>
    </article>