  <div class="column beerstackTitle" style="display: flex; justify-content:center; color:var(--brew);">
  <div class="row" style="display:flex; text-align:center"> 
    <h1 style="font-size: 85px;">COMING SOON</h1> 
    <h2> So-Call Brewery</h2>
    <p class="fs-6">Find a brewery near you!</p>
    <p class="fs-6">Direct links to Yelp</p>
    <p class="fs-6">Member's Bucketlist Feature</p>
  </div>
